<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbJQGZGAG_0xaR9y_idILtCpY7I_QfU_w</string>
	<key>GCM_SENDER_ID</key>
	<string>765138550704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.busondigitalservice.sellerkit</string>
	<key>PROJECT_ID</key>
	<string>sellerkitapp-5ad52</string>
	<key>STORAGE_BUCKET</key>
	<string>sellerkitapp-5ad52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765138550704:ios:8c4505938dc3d7ca586075</string>
</dict>
</plist>